* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    min-width: 400px;
}

#delete-btn {
    font: inherit;
    border: 2px solid #5f9341;
    cursor: pointer;
    padding: 3px 18px;
    font-weight: bold;
    background-color: white;
    color: #5f9341;
}

#input-btn,
#tab-btn {
    font: inherit;
    border: none;
    cursor: pointer;
    padding: 5px 20px;
    margin-bottom: 5px;
    font-weight: bold;
    background-color: #5f9341;
    color: white;
}

#input-el {
    display: block;
    height: 50px;
    width: 100%;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 1.25rem;
    border: 2px solid #5f9341;
    border-radius: 5px;
    margin-bottom: 10px;
}

ul {
    margin-top: 1.5rem;
    list-style-type: none;
}

li {
    margin-top: 5px;
}

li a {
    color: #5f9341;
}